body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    background-image: linear-gradient(to bottom right, black 64%, #203966 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    overflow-y: auto;
    overflow-x: hidden;
}
h1{
    margin-top: 2px;
    font-family: 'Oxygen Mono', sans-serif;
    font-weight: bold;
    color: #DBB701;
    margin-bottom: 0;
    font-size: 300%;
    margin-left: 70px;
}
p{
    font-family: 'Oxygen', sans-serif;
    font-size: 250%;
    margin-right: 80px;
}
h3{
    font-family: 'Oxygen Mono', sans-serif;
    text-align: left;
    font-size: 275%;
    margin-top: -18%;
    color: #DBB701;
}
.big p{
    font-family: 'Oxygen Mono', sans-serif;
    text-align: left;
    font-size: 275%;
    font-weight: bold;
    color: #DBB701;
}
.pagetext{
    width: 90vw;
    height: 100vh;
    margin-left: 55px;
    margin-right: 55px;
}
.img-animation{
    transition: opacity 0.5s ease;
}
.link{
    color: #DBB701;
}
.sidebar h2{
    font-size: 40px;
    color: #80AAF7;
    z-index: 2;
    font-family: Verdana;
    margin-left: 10px;
    margin-bottom: 13px;
}
.title-container {
    display: flex;
    align-items: flex-end;
    margin: 0 5%;
    margin-top: 1px;
}
.image-container {
    position: relative;
    margin-left: -35px;
    margin-bottom: -12px;
}
.image-container img {
    max-width: 65px;
    margin-left: 25px;
    margin-bottom: 25px;
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.image-container::before {
    content: "";
    display: block;
    padding-top: 100%;
    background: #042331;
    position: absolute;
    top: -25px;
    height: 20px;
    left: 0;
    width: 100%;
}
.menu-container {
    position: relative;
    border-bottom: 6px solid #203966;
    border-right: 6px solid #203966;
    border-top: 6px solid #203966;
    border-radius: 0 15px 15px 0;
    margin-left: 46px;
    margin-bottom: -15px;
    background-color: #042331;
    transition: border-right 0.4s ease;
}
.menu-container img {
    max-width: 100px;
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 415px;
    height: 100%;
    background: #042331;
    padding: 10px 0;
    border-right: 6px solid #203966;
    transition: border-right 0.4s ease;
}
.sidebar hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
.sidebar a {
    padding: 8px 18px 18px 82px;
    margin-bottom: 5%;
    text-decoration: none;
    font-size: 210%;
    font-family: 'Oxygen', sans-serif;
    color: white;
    display: block;
    transition: 0.3s;
}
.selected {
    background: #203966;
}
.non-selected {
    background: #042331;
}
.sidebar a:hover {
    background: #203966;
}
.feedback-container {
    position: absolute;
    bottom: 10%;
    margin-bottom: 22px;
}
.feedback-container a {
    padding: 5px 100% 1px 82px;
    text-decoration: none;
    font-size: 210%;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    color: white;
    display: block;
    width: 158px;
    transition: 0.3s;
    margin-left: -32px;
}
.feedback-container a:hover {
    background: #203966;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    color: #042331;
    bottom: 3%;
}
.logo-container a {
    display: inline-block;
    align-items: center;
    padding: 0 0 0 0;
    color: #042331;
    width: 30%;
    margin-left: 13px;

}
.logo-container img {
    max-width: 45%;
    margin-left: 28px;
    margin-top: 5px
}
.logo-spin {
    color: #042331;
    transition: transform 1.5s;
}
.logo-spin:hover {
    transform: rotate(360deg);
}
.logo-container a:hover {
    background: #042331;
}
.sidebar.left {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.sidebar.right {
    transform: translateX(0%);
    transition: transform 0.3s ease;
}
#about-title{
    margin-left: 34vw;
    font-size: 500%;
    margin-top: 55px;
}
.aboutMe{
    font-family: 'Oxygen', sans-serif;
    font-size: 250%;
}
.aboutImage{
    margin-top: 20px;
    margin-left: 22vw;
    border-radius: 25px;
    border: 6px solid #203966;
}
#skill-title{
    margin-left: 38vw;
    font-size: 500%;
    margin-top: 55px;
}
#programming{
    margin-top: 50px;
}
#project-title{
    margin-left: 38vw;
    font-size: 500%;
    margin-top: 55px;    
}
#kaktusgame{
    margin-top: 2%;
}
#rocket{
    border-radius: 25px;
    border: 6px solid #203966;
}
.skins{
    margin-left: 35px;
}
.skins img{
    margin-top: -10%;
    margin-left: 35%;
    border-radius: 25px;
    border: 6px solid #203966;
}
#leaderboard{
    border-radius: 25px;
    border: 6px solid #203966;
    margin-left: 35%;
}
#feedback-title{
    margin-left: 33vw;
    font-size: 500%;
    margin-top: 55px;

}
#feedback{
    margin-top: 3%;
}
#meow{
    border-radius: 25px;
    border: 6px solid #203966;
    width: 35%;
    margin-left: 29vw;
}
@media screen and (max-width:1000px){
    h1 {
        font-size: 140%;
    }
    .sidebar h2 {
        font-size: 22px;
        margin-left: 8px;
        margin-bottom: 15px;
    }
    .sidebar {
        width: 235px;
        border-right: 6px solid #203966;
    }
    .sidebar a {
        padding: 8px 18px 18px 10%;
        font-size: 180%;
    }
    .title-container {
        margin: 0 3%;
    }
    .image-container {
        margin-left: -25px;
    }
    .image-container img {
        max-width: 48px;
    }
    .feedback-container {
        bottom: 9%;
        margin-left: -10px;
    }
    .feedback-container a {
        margin-left: 0px;
        width: 205px;
        font-size: 225%;
        padding-bottom: 1px;
        padding-top: 1px;
    }
    .logo-container {
        bottom: 2%;
        margin-left: -32px;
    }
    .logo-container img {
        max-width: 120%;
        margin-left: 2px;
        margin-top: 0px;
    }
    .menu-container {
        margin-left: 7.5%;
        border-right: 6px solid #203966;
        border-bottom: 6px solid #203966;
        border-top: 6px solid #203966;
    }
    .menu-container img {
        max-width: 85px;
    }
    .aboutMe {
        font-size: 139%;
    }
    .aboutImage {
        width: 100%;
        margin-left: 0;
    }
    h3 {
        font-size: 175%;
    }
    p {
        font-size: 120%;
        margin-right: 0;
    }
    .big p {
        font-size: 175%;
    }
    #meow {
        width: 75%;
        margin-left: 45px;
    }
    .skins img {
        width: 65%;
    }
    #rocket {
        width: 70%;
    }
    #leaderboard {
        width: 100%;
        margin-left: 0;
    }
    #feedback-title {
        font-size: 220%;
        margin-left: 20vw;
        margin-top: 65px;
    }
    .pagetext {
        margin-left: 25px;
        margin-right: 25px;
    }
    #kaktusgame {
        margin-top: 25px;
    }
    #feedback {
        margin-top: 25px;
    }
}
@media screen and (max-width:370px) {
    #about-title {
        font-size: 250%;
        margin-left: 21vw;
        margin-top: 60px;
    }
    #feedback-title {
        font-size: 200%;
        margin-left: 19vw;
    }
    #project-title {
        font-size: 230%;
        margin-left: 21vw;
        margin-top: 65px;
    }
    #skill-title {
        font-size: 250%;
        margin-left: 21vw;
        margin-top: 65px;
    }
    #meow{
        margin-left: 10vw;
    }
}
@media screen and (min-width:371px) and (max-width: 400px) {
    #about-title {
        font-size: 299%;
        margin-left: 21vw;
        margin-top: 50px;
    }
    #skill-title {
        font-size: 315%;
        margin-left: 25vw;
    }
    #project-title {
        font-size: 270%;
        margin-left: 20vw;
        margin-top: 63px;
    }
    #feedback-title {
        font-size: 218%;
        margin-left: 20vw;
        margin-top: 65px;
    }
}
@media screen and (min-width: 401px) and (max-width: 550px) {
    #about-title {
        font-size: 325%;
        margin-left: 23vw;
        margin-top: 50px;
    }
    #skill-title {
        font-size: 320%;
        margin-left: 28vw;
    }
    #project-title {
        font-size: 280%;
        margin-left: 22vw;
        margin-top: 61px;
    }
    #feedback-title {
        font-size: 220%;
        margin-left: 20vw;
        margin-top: 65px;
    }
}
@media screen and (min-width: 551px) and (max-width: 850px) {
    #about-title {
        font-size: 375%;
        margin-left: 29vw;
        margin-top: 50px;
    }
    #skill-title {
        font-size: 320%;
        margin-left: 28vw;
    }
    #project-title {
        font-size: 280%;
        margin-left: 22vw;
        margin-top: 61px;
    }
    #feedback-title {
        font-size: 220%;
        margin-left: 20vw;
        margin-top: 65px;
    }
}
@media screen and (min-width: 851px) and (max-width: 1000px) {
    #about-title {
        font-size: 375%;
        margin-left: 32vw;
        margin-top: 50px;
    }
    #skill-title {
        font-size: 320%;
        margin-left: 28vw;
    }
    #project-title {
        font-size: 280%;
        margin-left: 22vw;
        margin-top: 61px;
    }
    #feedback-title {
        font-size: 220%;
        margin-left: 20vw;
        margin-top: 65px;
    }
}
@media screen and (min-width: 1299px) and (max-width: 1500px){
    .sidebar{
        width: 414.9px;
    }
    .aboutMe{
        font-size: 175%;
    }
    .aboutImage{
        margin-left: 17%;
    }
    h1{
        margin-top: 0px;
        font-size: 220%;
    }
    .big p{
        font-size: 195%;
    }
    h3{
        font-size: 195%;
        margin-top: 12%;
    }
    p{
        font-size: 175%;
        margin-left: 45px;
    }
    #programming{
        margin-top: 3%;
    }
    #kaktusgame{
        margin-top: 4%;
    }
    #leaderboard{
        margin-left: 25%;
    }
    #feedback{
        margin-top:4%;
    }
    .pagetext{
        margin-left: 75px;
    }
    #about-title{
        margin-left: 40%;
        font-size: 500%;
        margin-top: 55px;
    }
    #skill-title{
        margin-left: 35%;
        font-size: 500%;
        margin-top: 4%;
    }
    #project-title{
        margin-left: 33%;
        font-size: 500%;
        margin-top: 3%;
    }
    #feedback-title{
        margin-left: 30%;
        font-size: 500%;
        margin-top: 4%;
    }
    .menu-container{
        margin-left: 46px;
    }
}
@media screen and (min-width: 1001px) and (max-width:1299px){
    #about-title {
        margin-left: 32vw;
    }
    #skill-title {
        font-size: 320%;
        margin-left: 28vw;
    }
    .aboutImage{
        margin-left: 55px;
        width: 90%;
    }
    #project-title {
        font-size: 280%;
        margin-left: 22vw;
        margin-top: 61px;
    }
    #feedback-title {
        font-size: 220%;
        margin-left: 20vw;
        margin-top: 65px;
    }
}
@media screen and (min-width:1300px) and (max-width:1500px){
    .aboutMe{
        font-size: 175%;
    }
    .aboutImage{
        margin-left: 95px;
    }
    h1{
        margin-top: 0px;
        font-size: 220%;
    }
    .big p{
        font-size: 195%;
    }
    h3{
        font-size: 195%;
        margin-top: 12%;
    }
    p{
        font-size: 175%;
    }
    #programming{
        margin-top: 3%;
        margin-left: 45px;
    }
    #rocket{
        margin-left: 47px;
    }
    #kaktusgame{
        margin-top: 4%;
        margin-left: 45px;
    }
    #leaderboard{
        margin-left: 25%;
    }
    #feedback{
        margin-top:4%;
    }
    .pagetext{
        margin-left: 75px;
    }
    #about-title{
        margin-left: 32vw;
        font-size: 500%;
    }
    #skill-title{
        margin-left: 35%;
        font-size: 500%;
        margin-top: 4%;
    }
    #project-title{
        margin-left: 33%;
        font-size: 500%;
        margin-top: 3%;
    }
    #feedback-title{
        margin-left: 30%;
        font-size: 500%;
        margin-top: 4%;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }