body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
    background-image: linear-gradient(to bottom right, black 64%, red 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

.sidebar h1{
    font-size: 40px;
    color: #22C723;
    z-index: 2;
    font-family: Verdana;
    margin-left: -15px;
    margin-bottom: 13px;
}

.title-container {
    display: flex;
    align-items: flex-end; /* Umístí obrázek na spodní okraj nadpisu */
    margin: 0 5%; /* Odsazení zleva a zprava stejné jako u nadpisu */
}

.image-container {
    position: relative; /* Nastavíme relativní pozici pro kontejner obrázku */
    margin-left: -35px; /* Odsazení mezi obrázkem a nadpisem */
    margin-bottom: -12px;
}

.image-container img {
    max-width: 100px; /* Nastavte maximální šířku obrázku podle vašich potřeb */
    display: block;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.image-container::before {
    content: "";
    display: block;
    padding-top: 100%; /* Vytvoří čtvercový kontejner na základě šířky obrázku */
    background: #042331;
    position: absolute;
    top: -25px;
    height: 20px;
    left: 0;
    width: 100%; /* 100% šířka kontejneru */
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 415px;
    height: 100%;
    background: #042331;
    padding: 10px 0;
    transition: all 0.3s ease;
}
.sidebar hr {
    border: none;
    border-top: 1px solid #ccc; /* Styly pro čáru */
    margin: 10px 0; /* Odsazení nad a pod čarou */
}

.sidebar a {
    padding: 8px 18px 18px 82px;
    text-decoration: none;
    font-size: 210%;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #111;
    background: #fff;
}

.feedback-container {
    position: absolute;
    bottom: 9%;
    margin-bottom: 22px;
}
.feedback-container a {
    padding: 5px 100% 1px 82px;
    text-decoration: none;
    font-size: 315%;
    color: white;
    display: block;
    width: 157px;
    transition: 0.3s;  
    margin-left: -32px;
}
.feedback-container a:hover {
    color: #111;
    background: #fff;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    color: #042331;
    bottom: 3%;
}
.logo-container a {
    display: inline-block; /* Umožnit zarovnání loga na střed */
    align-items: center;
    padding: 0 0 0 0;
    color: #042331;
    width: 30%;
    margin-left: 13px;

}
.logo-container img {
    max-width: 45%; /* Nastavte velikost loga podle potřeby */
    margin-left: 28px;
    margin-top: 5px
}
.logo-spin:hover {
    color: #042331;
    transform: rotate(360deg);
    transition: transform 1.5s;
}
.logo-container a:hover {
    background: #042331;
}

@media screen and (max-width: 830px) {
    .sidebar h1{
        font-size: 22px;
        margin-left: 2px;
        margin-bottom: 6px;
    }
    .sidebar {
        width: 235px; 
    }
    .sidebar a {
        padding: 8px 18px 18px 10%;	
        font-size: 180%;
    }
    .title-container {
        margin: 0 3%;
    }
    .image-container {
        margin-left: -9px;
    }
    .image-container img {
        max-width: 70px;
    }
}
